<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ec-commerce : პროდუქტის დამატება</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/headerUser :: headerUser"></header>
<span style="text-align: center"><p>პროდუქტის დასამატებლად შეავსეთ ველები</p></span>
<form method="post" action="/addproduct">
    <div style="margin-left: 43%">
        <label style="margin-left: 10px"><b>პროდუქტის სახელი</b></label><br>
        <input class="col-3" type="text" placeholder="სახელი" name="name" required><br><br>
        <label style="margin-left: 25px"><b>საცალო ფასი</b></label><br>
        <input class="col-3" type="text" placeholder="პროდუქტის ფასი" name="cost" required><br><br>
        <label style="margin-left: 25px"><b>რაოდენობა</b></label><br>
        <input class="col-3" type="text" placeholder="რაოდენობა" name="count" required><br><br>
        <button style="margin-left: 45px" type="submit" class="btn btn-success">დასტური</button>
    </div>
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>