<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ec-commerce - პროფილი</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/headerUser :: headerUser"></header>

    <span style="margin-left: 50px" th:text="${useremail}"></span>
    <span style="margin-left: 50px" th:text="${username}"></span>
    <span style="margin-left: 50px" th:text="${userlastname}"></span>
    <span style="margin-left: 50px" th:text="${userprivateidnumber}"></span>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>