<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ec-commerce - პროფილი</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<header th:insert="blocks/headerUser :: headerUser"></header>
    <div>
    <p class="profileText">თქვენი მონაცემები</p>
        <p class="userDetails">სახელი,გვარი : <span th:text="${username}"></span></p>
        <p class="userDetails">ელ.ფოსტა : <span th:text="${useremail}"></span></p>
        <p class="userDetails">ბანკის ანგარიშის ნომერი : <span th:text="${bankaccount}"></span> </p>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    </div>
        <div class="container grid-container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4" th:each="element : ${products}">
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/362/180" alt="Card image cap">
                        <div class="card-body">
                            <h5 style="text-align: center" class="card-title" th:text="${element.getName()}">Card title</h5>
                            <p style="text-align: center" class="card-text">ფასი : <span th:text="${element.getCost()}"></span></p>
                            <p style="text-align: center" class="card-text">რაოდენობა : <span th:text="${element.getCount()}"></span> </p>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>