<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ec-commerce - რეგისტრაცია</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/registration" method="post" style="border:1px solid #ccc">
    <div class="container">
        <h1>რეგისტრაცია</h1>
        <p>გთხოვთ შეავსოთ ველები რეგისტრაციისთვის.</p>
        <hr>

        <label><b>სახელი</b></label>
        <label style="padding-left: 115px"><b>გვარი</b></label><br>
        <input class="col-2" type="text" placeholder="თქვენი სახელი" name="userName" required>
        <input class="col-2" type="text" placeholder="თქვენი გვარი" name="userLastname" required><br><br>

        <label><b>ელ.ფოსტა</b></label><br>
        <input class="col-4" type="email" placeholder="ელ.ფოსტა" name="userEmail" required><br><br>

        <label><b>პირადი ნომერი</b></label><br>
        <input class="col-4" type="text" placeholder="პირადი ნომერი" name="userPrivateId" required><br>

        <label>
            <input type="checkbox" name="remember" style="margin-bottom:15px"> დამახსოვრება
        </label>

        <p>მომხმარებლის შექმნისას თქვენ თანხმდებით ვებ-საიტის პრივატულობის წესებს <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <a href="/home"><button type="button" class="btn btn-danger">დახურვა</button></a>
            <button type="submit" class="btn btn-success">რეგისტრაცია</button>
        </div>
    </div>
</form>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>