<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ec-commerce - ონლაინ მაღაზია</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <span style="text-align: center"><p>რეგისტრაცია წარუმატებლად დასრულდა!</p></span>
    <span style="text-align: center"><p>თქვენს მიერ შეყვანილი მომხმარებელი ელექტრონული ფოსტით
        <span style="color: deeppink" th:text="${userEmail}"></span> ან პირადი ნომრით
        <span style="color: deeppink" th:text="${userPrivateId}"></span>
        უკვე დარეგისტრირებულია!</p></span>
    <span style="text-align: center"><p>დამატებითი დახმარებისთვის ან მომხმარებლის მონაცემების აღდგენისთვის გთხოვთ გადახვიდეთ ბმულზე <a href="#">დახმარება</a></p>
     </span>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>