<div th:fragment="footer">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2020-2020</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><b>საკონტაქტო ინფორმაცია</b></li>
                <li>ელ.ფოსტა : <a href="mailto:eccomercemail@gmail.com">eccomercemail@gmail.com</a></li>
                <li>ცენტრის ნომერი : +995 111 111 111</li>
                <li><img src="https://pbs.twimg.com/media/BbM2L61CcAAqJxb.png:large" width="20px" height="20px"> <a href="https://www.facebook.com/eccomerceproject">https://www.facebook.com/eccomerceproject</a></li>
            </ul>
        </div>
    </div>
</footer>