.textDiv{
    width: 100px;
    height: 200px;
}
h1{
    color: #ff428a;
}
.card {
    margin-bottom: 3px;
}
.card {
    margin-bottom: 1rem;
}
.profileText{
    text-align: center;
    color: #ff5937;
}
.userDetails{
    text-align: center;
    color: #ff428a;
}